<%- include('header'); -%>
<h1>Compose</h1>
<form action="/" method="post">
    <p><label for="">Title</label></p>
    <p><input type="text" name="new" size="100px" placeholder="Add your text"></p>
    <p><label for="">Post</label></p>
    <p><textarea name="message" id="" cols="100" rows="5"></textarea></p>
    <p><button class="btn" type="submit">Publish</button></p>
</form>
<%- include('footer'); -%>